.tourdatesdiv {
    background-color: #d08c35;
    height: 100%;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
}

.tourcity {
    position: relative;
    background-color: #efb71b;
    height: 250px;
    width: 250px;
    /* max-width: 40%; */
    margin: 20px;
    border: 1px solid #a12336;
    border-radius: 12px;
}

.tourcityname {
    position: absolute;
    left: calc(50% - 25px);
    width: 50px;
    bottom: 0px;
}
