#createemailform {
    /* position: fixed; */
    /* top: 100%; */
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #399ca1;
    width: 250px;
    border-radius: 24px;
    border: #4f2f7c 3px solid;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    z-index: 100;
}

#createemaillabel {
    display: flex;
    flex-direction: column;
}

#createemailbutton {
    width: 60px;
    height: 25px;
    align-self: center;
    margin: 10px;
}

input.emailinput {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    background-color: #ffffff;
    height: 16px;
    border-radius: 20px;
    padding: 5px;

}
