.background {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: -5;
    background-color: #d08c35;

}

.backgroundimg {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
}

.firstlayer {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.firstlayer1 {
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
}

.firstlayer2 {
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
}

.firstlayer3 {
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
}

.pattern1 {
    width: 33%;
    z-index: -5;
}
