.background {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: -5;
    background-color: #d08c35;

}

/* .backgroundimg {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
} */

.firstlayer {
    display: flex;
    flex-direction: column;
    height: 0;
    padding-bottom: 25%;
}

.firstlayer1 {
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-direction: row;
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;

}



/* .firstlayer2 {
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-direction: row;

}

.firstlayer3 {
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-direction: row;
} */

.pattern1 {
    width: 33%;
    max-width: 500px;
    z-index: -5;
}

.pattern1-image {
    height: 100%;
}

.portrait {
    position: absolute;
    width: 873.5px;
    /* width: 100%; */
    height: auto;
    /* height: 100%; */
    max-width: 70%;
    right: 0px;
    /* max-height: 66%; */
    /* background-color: black; */
}

.afroeurotour {
    position: absolute;
    width: 1172px;
    height: auto;
    max-width: 50%;
    bottom: 0;
}
