@font-face {
  font-family: BEBAS;
  src: url(https://www.dafont.com/bebas.font);
}

@font-face {
  font-family: JOYRIDE;
  src: url(https://creativemarket.com/TypeJuice/4973999-Joyride-Extended-Typeface);
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: auto;

}

.merchLink {
  /* position: sticky; */
  align-self: center;
  display: flex;
  flex-direction: column;
  /* background-color: aliceblue; */
  padding: 8px;
  position: fixed;
  top: 10px;
  font-size: 24px;
  text-decoration: none;
  color: rgb(124, 0, 240);
  background: rgb(133, 133, 173);
  font-weight: bolder;
  border-radius: 24px;
  /* font-family: BEBAS; */
}

.merchLink:hover {
  border: solid red 1px;
}


#hexcodes {
  color: #399ca1;
  color: #4f2f7c;
  color: #a83875;
  color: #a12336;
  color: #d08c35;
  color: #efb71b;
}
